<div class="accordion">
  <details name="cpu_details_accordion">
    <summary><%= cpu.cpu_model %></summary>
    <table class="table">
    <tbody>
      <tr><td>CPU Vendor</td><td><%= cpu.cpu_vendor %></td></tr>
      <tr><td>CPU Family</td><td><%= cpu.cpu_family %></td></tr>
      <tr><td>CPU Stepping</td><td><%= cpu.cpu_stepping %></td></tr>
      <tr><td>CPU Model Number</td><td><%= cpu.cpu_model_num %></td></tr>
      <tr><td>Number of CPUs</td><td><%= num_cpus %></td></tr>
    </tbody>
    </table>
  </details>
</div>